{%extends "django_registration/base.html"%}
{% load static%}
{% load bootstrap5 %}

{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <style>
        @media screen and (min-width: 480px) and (max-width: 767px) {
        
        h2, h3{ font-family: 'Inspiration', cursive;
        font-size: 23px;
    }
    }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid third" style="margin: top 123px;">
    <!-- <h1>Third</h1> -->
    <div class="row container">
        <div class="col-md-6 thid">
            <h2>InstagramClone</h2>
            <h3>Explore and interact with people worldwide</h3>

        </div>
        <div class="col-md-6">
            <h2>Have an Account?</h2>
            <a class='btn btn-default' href="/accounts/login">Login</a>

            <h2>Don't have an account?</h2>
            <a class='btn btn-default' href="/accounts/register">Register</a>

        </div>
    </div>
</div>




{% endblock content %}