{%extends "django_registration/base.html"%}
{% load bootstrap5 %}
{% load static %}
{% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/hom.css' %}"> -->

    li
   <style>
       small{

        margin-left: 210px;
        width: 52rem;
       }

        @media screen and (min-width: 480px) and (max-width: 767px) {
        .small{
            margin-left: 22px;
            width: 122px;

        }
        img{
            width: 100px;
        }
    }
   </style>
    
{% endblock %}

{% block content%}
    <div class="container row text-center " style="margin-top:99px; ">
        <div class="col-sm-3"></div>
        <div class="container col-md-4 small bg-light mb-4" style="width: 52rem;">
        <h4 style="text-align:center; color:orangered";>IMAGE DETAILS</h4>
        <img src="{{image.image.url}}" alt="" srcset="" style="width:24rem ; ">
        <h4>Image Name: {{image.image_name}}</h4>
        <p>Caption: {{image.image_caption}}</p>
        <h4>Posted by: {{image.profile}}</h4>
        <h4>Post Date: {{image.post_date}}</h4>
        <h4>Likes: {{image.likes}}</h4>
        </div>
        <div class="col-sm-3"></div>

    </div>

    <!-- {{user}} -->
{% endblock %}