.third{
    background: url("/static/images/ui.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 670px;
    padding: 100px 0 0 0;  
    background-repeat: no-repeat; 
    background-size: cover;
    }

/* .thid{
    background: url("/static/images/hui.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 412px;
    padding: 100px 0 0 0;  
    background-repeat: no-repeat; 
    background-size: 400px, 400px;
    
    } */

    @media screen and (min-width: 480px) and (max-width: 767px) {
        .third{
            margin-top: 123px;
        }
    }

h2{
    color: orangered;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Inspiration', cursive;}

.third a{
    background-color: rgb(224, 230, 235);
    color: black;
    font-weight: bold;
}
