.third{
    background: url("/static/images/erik-lucatero-UrhMJ6kfKlo-unsplash.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 599px;
    padding: 100px 0 0 0;  
    background-repeat: no-repeat; 
    background-size: cover;
    }

/* .thid{
    background: url("/static/images/hui.jpg") 50% 0 no-repeat fixed;
    color: white;
    height: 412px;
    padding: 100px 0 0 0;  
    background-repeat: no-repeat; 
    background-size: 400px, 400px;
    
    } */